* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}
:root{
    --primary: #bc3d3d;
    --secondary: #d56565;
    --background: black;
    --card: black;
    --text: white;
    --muted: #64748b;
    --radius: 12px;
}
body{
    font-family: 'Inter', 'sans-serif';
    background: var(--background);
    color:var(--text);
    line-height:1.6;
}
header{
    background: linear-gradient(135deg,var(--primary));
    color:#ffffff;
    text-align: center;
    padding: 3rem 1rem;
    position: sticky;
    top: 0;
}
main{max-width: 1100px;
margin: 3rem auto 4rem;
padding: 0 1rem;
}
.card {
    background: var(--card);
    border-radius: var(--radius);
    padding: 2rem;
    margin-bottom: 2rem;
    border: 1px solid white;
}
.card:hover{
    box-shadow:0 10px 25px red;
}
.profiel{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
}
.profiel img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: .3s;
}
.profiel img:hover{
    box-shadow: 0 15px 35px white;
}
.Talen-tabel{
    width: 100%;
    border-collapse: collapse;
    background: #935d5d;
}
.Talen-tabel th,.Talen-tabel td{
    padding: .75rem;
}
.Talen-tabel thead{
    background: var(--secondary); color:black   ;
}
.Talen-tabel tbody tr:nth-child(even){
    background: lightcoral;
}
.Talen-mobiel{
    display: none;
    gap: 1rem;
}
.Talen-Card{
    border: 1px solid white;
    border-radius: var(--radius);
    padding: 1rem;
}