
:root{
    --primary: #bc3d3d;
    --secondary: #d56565;
    --background: black;
    --card: black;
    --text: white;
    --muted: #64748b;
    --radius: 12px;
}

html {
    scroll-behavior: smooth;
}

header {
    background: linear-gradient(135deg, var(--primary), var(--secondary));
    color: #ffffff;
    text-align: center;
    padding: 3rem 1rem;
}

.card {
    background: var(--card);
    border-radius: var(--radius);
    padding: 2rem;
    margin-bottom: 2rem;
    border: 1px solid white;
}
.card:hover {
    box-shadow: 0 10px 25px red;
    border-color: var(--primary);
}
.skill-bar {
    background: #444;
    border-radius: 10px;
    height: 10px;
    margin-bottom: 15px;
}
.skill-per {
    background: var(--primary);
    height: 100%;
    border-radius: 10px;
    width: 0;
    transition: width 1.5s ease-in-out;
}
.profiel{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
}
.profiel img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: .3s;
}
.profiel img:hover{
    box-shadow: 0 15px 35px white;
}
.Talen-tabel{
    width: 100%;
    border-collapse: collapse;
    background: #935d5d;
}
.Talen-tabel th,.Talen-tabel td{
    padding: .75rem;
}
.Talen-tabel thead{
    background: var(--secondary); color:black   ;
}
.Talen-tabel tbody tr:nth-child(even){
    background: lightcoral;
}
.Talen-mobiel{
    display: none;
    gap: 1rem;
}
.Talen-Card{
    border: 1px solid white;
    border-radius: var(--radius);
    padding: 1rem;
}
footer{
    background: var(--secondary);
    color:#ffffff;
    padding: 1rem;
}
.footer-inhoud{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (max-width: 575px) {
    .Talen-tabel{
        display: none;
    }
    .Talen-mobiel{
        display: grid;
    }
    .profiel{
        text-align: center;
        justify-content: center;
    }
}
@media(min-width: 992px){
    .Talen-mobiel{
        display: none;
    }
    .Talen-tabel{
        display: table;
    }
}
* {box-sizing:border-box}
body, html {padding:0; margin:0}
body {background:#232323; color:#fff}
.opaque {position:absolute; top:0; left:0; right:0; bottom:0; opacity:0; background:#d2d6f1;}
.lt-ie9 .opaque {display:none;}
.feature {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: url(https://t3.ftcdn.net/jpg/01/65/05/28/360_F_165052816_lt4clbFSEWg2oUi1L34f7lWXQu3ryf3Z.jpg) center center no-repeat;
    background-size: cover;
}
.content {
    position: relative;
    z-index: 1;
    padding-top: 20vh;
    width: 90%;
    margin: 0 auto;
}

@media only screen and (min-width:36.250em) {
    .content {width:60%; padding-top:35% }
}