* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}
:root{
    --primary: #bc3d3d;
    --secondary: white;
    --background: black;
    --card: black;
    --text: white;
    --muted: #64748b;
    --radius: 12px;
}
body{
    font-family: 'Inter', 'sans-serif';
    background: var(--background);
    color:var(--text);
    line-height:1.6;
}
header{
    background: linear-gradient(135deg,var(--primary));
    color:#fff;
    text-align: center;
    padding: 3rem 1rem;
}
main{max-width: 1100px;
margin: 3rem auto 4rem;
padding: 0 1rem;
}
.card {
    background: var(--card);
    border-radius: var(--radius);
    padding: 2rem;
    margin-bottom: 2rem;
}
.card:hover{
    box-shadow:0 10px 25px red;
}
.profiel{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
}
.profiel img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: .3s;
}
.profiel img:hover{
    box-shadow: 0 15px 35px white;
}